# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Sean's Blog
subtitle: 'less is more, old is new.'
description: 'New Blog site construted by Hexo (nodejs package)'
keywords: Sean
author: Sean Ho
language: 
  - zh-tw
  - en
timezone: 'Asia/Taipei'

# URL
## If your site is put in a subdirectory, set url as 'http://example.com/child' and root as '/child/'
url: http://sean0921.github.io
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: draft
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: hexo-theme-next

markdown:
  markdown: 'default'
  render:
    html: true       #顯示html語法內容
    xhtmlOut: false  #Parser (not) produces fully XHTML compliant code
    breaks: true    #覺得蠻有用的，在原本撰寫markdown時只要有break line符號，就會在最後產生結果時幫你加入<br>換行
    linkify: true   #只要有像網址的詞出現，就會在結果顯示時幫你把網址轉換成超連結
    typographer: true   #圖像符號的顯示  例如©
    quotes: '“”‘’'

    plugins:    
        - markdown-it-footnote   #註腳
        - markdown-it-abbr    #可以做標註縮寫
        - markdown-it-abbr   
        - markdown-it-checkbox   
        - markdown-it-emoji    #表情符號
        - markdown-it-footnote
        - markdown-it-ins      
        - markdown-it-sub      
        - markdown-it-sup
    
    anchors:
    # Minimum level for ID creation. (Ex. h2 to h6)
    level: 2
    # A suffix that is prepended to the number given if the ID is repeated.
    collisionSuffix: 'v'           
    # If `true`, creates an anchor tag with a permalink besides the heading.
    permalink: false              
    # Class used for the permalink anchor tag.
    permalinkClass: header-anchor 
    # The symbol used to make the permalink
    permalinkSymbol: ¶    #如果permalink為true， next文章目錄的章節前面都會加一個這樣的符號

# Atom Feeds
## Try atom feeds by suggestions of issue #1
feed:
  type:
    - atom
    - rss2
  path:
    - atom.xml
    - rss2.xml
  limit: 5
  content: true

# Deployment
## Docs: http://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@github.com:sean0921/sean0921.github.io.git
  branch: gh-pages
